@import url('https://fonts.googleapis.com/css?family=Nunito:800,400');


.idea1 {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.idea1 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1080px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.idea1 .group .rectangle {
  background-color    : rgba(11, 11, 11, 1.0);
  top                 : 0px;
  height              : 1080px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.idea1 .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1080px;
  width               : 603px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.idea1 .hellomynameisgo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 393px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 903px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 92.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 125.0px;
}
.idea1 .iamuserinterface {
  background-color    : rgba(255,255,255,0.0);
  top                 : 643px;
  height              : auto;
  width               : 761px;
  position            : absolute;
  margin              : 0;
  left                : 898px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 49.0px;
}
.idea1 .profileworkinsight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1264px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
